header {
  position: sticky;
  top: 0;
}
.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  margin: 0;
}

body {
  background-color: ;
  color: #151c26;
  margin: 0;
  padding: 0;
}

section {
  padding: 20px;
  margin-bottom: 30px;
}

/* Bold text */
.newsreader-heading {
  font-family: "Newsreader", serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}

/* Regular text
.newsreader-paragraph {
  font-family: "Newsreader", serif;
  font-weight: 400;
  font-style: normal;
} */
#Connect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  text-align: center;
}

.connect-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

h1 {
  color: #95acbf;
  text-align: center;
}

h2 {
  color: #95acbf;
  size: 2.5rem;
  font-weight: 400;
}

#Experience {
  padding: 2rem 1rem;
}

.experience-item {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.job-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.job-dates {
  font-size: 0.95rem;
  color: #555;
}

.job-description {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #444;
}

/* #Connect {
  padding: 2rem 1rem;
  text-align: center;
} */

.social-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

#Skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

#Skills li {
  padding: 0.5rem 1rem;
}

/* Projects section  */
#projectList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

form[name="leave_message"] label {
  display: block;
  margin-top: 0.75em;
  font-weight: 600;
  font-size: 1rem;
}

form[name="leave_message"] button[type="submit"] {
  margin-top: 1rem;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  color: #151c26;
  border: none;
}

/* Mobile Styles */
@media (max-width: 599px) {
  /* Change font size for nav bar to fit mobile */
  .main-nav ul {
    font-size: 0.75rem;
  }

  /* Change header for intro, h1  */
  .newsreader-heading {
    font-family: "Newsreader", serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
  }

  /* Change headers, h2 */
  h2 {
    font-size: 1.5rem;
  }

  /* Change Job titles */
  .job-title {
    font-size: 1rem;
  }

  .job-dates {
    font-size: 0.65rem;
    color: #555;
  }

  /* Change Job descriptions */
  .job-description {
    font-size: 0.85rem;
  }

  #Skills li {
    font-size: 0.85rem;
    padding: 0.5rem;
  }

  #projectList {
    flex-direction: column;
    align-items: stretch;
  }
}

/* Tablet Styles */
@media (min-width: 600px) {
  /* Change headers, h2 */
  h2 {
    font-size: 1.75rem;
  }

  /* Change Job titles */
  .job-title {
    font-size: 1rem;
  }

  .job-dates {
    font-size: 0.75rem;
    color: #555;
  }

  /* Change Job descriptions */
  .job-description {
    font-size: 0.85rem;
  }

  #Skills li {
    font-size: 1rem;
  }
}
